<div class="row">
  <div class="col-12">
    <h2>Shorten links and tracks them easily</h2>
  </div>

  <div class="col-10 offset-1">
    <%= render 'form', link: @link %>
  </div>

  <div class="col-12">
    <div class="tableFixHead">
      <table class="table table-responsive-md">
        <thead>
          <tr>
            <th colspan="1">Shorten URL</th>
            <th colspan="1">Default URL</th>
            <th colspan="1">Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @links.each do |link| %>
            <tr>
              <td><%= link_to "#{request.base_url}/#{link.code}", link_show_path(link.code), target: :_blank %></td>
              <td><%= link_to "#{link.url}", "#{link.url}", target: :_blank %></td>
              <td>
                <%= link_to link, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="bi bi-trash"></i>
                <% end %>
                |
                <%= link_to link_tracks_path(link), remote: true do %>
                  <i class="bi bi-bar-chart-fill"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-10 offset-1">
    <div id="chart"></div>
  </div>
</div>